<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>GOODDRIVE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
</head>
<style>
    .main{
        padding-top: 0;
    }
    .wrap .container .inner {
        height: 450px;
    }
    .wrap .container .header .logo {
    width: 200px;
    padding: 0px 20px 0px 20px;
    }
    .wrap .container .inner .form{
        margin-top: 20px;

    }
    .wrap .container .inner .or{
        margin:10px 0;
    }
    .text{
        font-weight: 900;
        color:#8e8e8e;
        font-size: 17px;
    }
    .wrap .container .inner .log_in_facebook .facebook_btn{
        width: 85%;
        background-color: #3897f0;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 0.4rem;
        padding: 0.5rem;
    }
    .wrap .container .inner .log_in_facebook .move_facebook{
        color: #fff;
    }
</style>

<body>
    <div class="main">
        <div class="wrap">
            <div class="container">
                <div class="inner">
                    <!-- header -->
                    <div class="header"> 
                        <div style="font-size:2rem">
                            Join membership
                        </div>
                        GOODDRIVE
                    </div>
                    
                    <form method="post" action="/create" class="form" style="margin-top: 2rem;">
                        <!-- <div class="input_box">
                            <label class="form_label" for=""><span style="color: #4268F6;">*</span>name</label>
                            <input name="name" id="conNm" type="text" placeholder="username"/>
                        </div> -->
                        <div class="input_box">
                            <label class="form_label" for=""><span style="color: #4268F6;">*</span>name</label>
                            <input name="conNM" id="user" type="text" placeholder="name"/>
                        </div>

                        <div class="input_box">
                            <label class="form_label" for=""><span style="color: #4268F6;">*</span>id</label>
                            <input name="conID" id="user" type="text" placeholder="id"/>
                        </div>
                        <div class="input_box">
                            <label for="" class="form_label"><span style="color: #4268F6;">*</span>password</label>
                            <input name="conPW" id="password" type="password" placeholder="Password">
                        </div>
                        <div class="input_box">
                            <label for="" class="form_label"><span style="color: #4268F6;">*</span>companyID</label>
                            <input name="cpID" id="cpID" type="text" placeholder="companyID">
                        </div>
                        <div class="input_box">
                            <label for="" class="form_label"><span style="color: #4268F6;">*</span>authority</label>
                            <input name="authCD" id="user" type="text" value="3">
                        </div>
                        <div class="button_box">
                            <input type="submit" value="회원가입" name="" value="가입">
                        </div>
                    </form>
                </div>
                <div class="content">
                    <div class="signup">
                        <span>Wanna login? <a href="/login">Log In</a></span>
                    </div>
                </div>
                <div class="get_the_app">
                </div>
            </div>
        <!-- // container -->
        </div>
        <footer>
            <div class="footer_container">
                <nav class="footer_nav">
                        <div class="nav_1">
                        <ul>
                            <li>
                                <a href="#">Meta</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Jobs</a>
                            </li>
                            <li>
                                <a href="#">Help</a>
                            </li>
                            <li>
                                <a href="#">API</a>
                            </li>
                            <li>
                                <a href="#">Privacy</a>
                            </li>
                            <li>
                                <a href="#">Terms</a>
                            </li>
                            <li>
                                <a href="#">Top Accounts</a>
                            </li>
                            <li>    
                                <a href="#">Hashtags</a>
                            </li>
                            <li>
                                <a href="#">Locations</a>
                            </li>       
                        </ul>
                    </div>
                    <div class="nav_2"> 
                        <ul>
                            <li>
                                <a href="#">Dance</a>
                            </li>
                            <li>
                                <a href="#">Food & Drink</a>
                            </li>
                            <li>
                                <a href="#">Home & Garden</a>
                            </li>
                            <li>
                                <a href="#">Music</a>
                            </li>   
                            <li>
                                <a href="#">Visual Arts</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="copyright">
                    <div class="select">
                        <select name="language" class="language">
                        <option value="영여">English</option>
                        <option value="한국어">한국어</option>
                        <option value="중국어">日本語</option>
                        <option value="프랑스어">Français (Canada)</option>
                        </select>
                    </div>
                    <div class="meta">
                    © 2022 Instagram from Meta
                    </div>
                    </div>
                </div>
        </footer>
    </div>
</body>

</html>
