.app-main__inner{
    position: relative;
    z-index: 0;
}

.create_area{
    position: absolute;
    top:0px;
    right: 0px;
    /* display:none;  */
    z-index: 1;
    width: 30rem;
    right: -32rem; /* 왼쪽에 파묻기 */
	transition: 0.3s;
}

#edit_area{
    right: 0rem;
}

.show{
    left:0;
}